{% comment %}

	Big Picture by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Gallery

	Description:

		Generates a grid of images with a lightbox gallery.

	Example:

		---
		my_images_array:
			- full: /images/fulls/01.jpg
				thumb: /images/thumbs/01.jpg
				title: Non Consequat Mus
				animate_from: left
			- full: /images/fulls/02.jpg
				thumb: /images/thumbs/02.jpg
				title: Pellentesque at
				animate_from: right
		---

		{% include components/gallery.html gallery=page.my_images_array %}

{% endcomment %}

<!-- Gallery  -->
	<div class="gallery">

		{% for image in include.gallery %}
			<article class="from-{{ image.animate_from }}">
				<a href="{{ site.baseurl }}{{ image.full }}" class="image fit">
					<img src="{{ site.baseurl }}{{ image.thumb }}" title="ut condimentum at" alt="" />
				</a>
			</article>
		{% endfor %}

	</div>