{% comment %}

	Example:

		---
		my_images_array:
			- full: /images/fulls/01.jpg
				thumb: /images/thumbs/01.jpg
				title: Non Consequatur Mus
				animate_from: left
			- full: /images/fulls/02.jpg
				thumb: /images/thumbs/02.jpg
				title: Ridiculus Mus
				animate_from: right
		---

		{% include components/gallery.html gallery=page.my_images_array %}

{% endcomment %}

<!-- Gallery  -->
	<div class="gallery">

		{% for image in include.gallery %}
			<article class="from-{{ image.animate_from }}">
				<a href="{{ site.baseurl }}{{ image.full }}" class="image fit">
					<img src="{{ site.baseurl }}{{ image.thumb }}" title="ut condimentum at" alt="" />
				</a>
			</article>
		{% endfor %}

	</div>
