{% comment %}

	Big Picture by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Footer

	Description:

		Site footer and contact info.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Footer -->
	<footer id="footer">

		<!-- Icons -->
			<ul class="actions">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
			</ul>

		<!-- Menu -->
			<ul class="menu">
				<li>&copy; Untitled</li>
			</ul>

	</footer>