<!-- Footer -->
	<footer id="footer">

		<!-- Icons -->
			<ul class="actions">
				<li><a href="https://github.com/mayacg" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="mailto:mayacgupta@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				<li><a href="/cv/mayaguptacv.pdf" class="icon fa-file-text-o"><span class="label">CV</span></a></li>
			</ul>

		<!-- Menu -->
			<ul class="menu">
				<li>&copy; Maya C. Gupta</li>
			</ul>

	</footer>
