{% comment %}

	Big Picture by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Header

	Description:

		Generates the page header and navigation.

	Example:

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
	<header id="header">

		<!-- Logo -->
			<h1 id="logo">{{ site.title }}</h1>

		<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#intro">Intro</a></li>
					<li><a href="#one">What I Do</a></li>
					<li><a href="#two">Who I Am</a></li>
					<li><a href="#work">My Work</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>

	</header>